.container{
  text-align: center;
}
h1{
  background-color: blue;
  margin: auto;
}
button{
  background-color: rgb(89, 93, 139);
}
button:hover{
  background-color: rgb(65, 185, 28);
  font-style: italic;
  font-size:large; 
}